<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033096415416-obejord84l83por4sqri4t5p12ge3kh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033096415416-obejord84l83por4sqri4t5p12ge3kh1</string>
	<key>API_KEY</key>
	<string>AIzaSyD54z_PgHHwtpANObdC2F_3yPk4x2stu9E</string>
	<key>GCM_SENDER_ID</key>
	<string>1033096415416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Anton-Kasian.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-7bb7d</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-7bb7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033096415416:ios:c9a7627cc52405ba830c4d</string>
</dict>
</plist>